  body {
      font-family: Arial;
      background-color: #f0f0f0;
    }
    header {
      background-color: lightblue;
      text-align: center;
      padding: 15px;
    }
    section {
      background-color: white;
      margin: 15px;
      padding: 10px;
      border: 1px solid #ccc;
    }
    h1 {
      color: rgb(0, 0, 255);
    }
    h2 {
      color: blue;
    }
    footer {
      background-color: lightblue;
      text-align: center;
      padding: 10px;
      margin-top: 20px;
    }
